<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Back to products", products_path %>
  <%= link_to "Edit this product", edit_product_path(@product) %> |

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
